.header {
    background-color: #1f7a8c;
}

.header-name {
    font-size: $m-size;
    color: #efefefef;
    margin: $xl-size;
}

.header-title {
    font-size: $m-size;
    color: #efefefef;
    margin: 0;
    font-weight: 400;
    margin-bottom: $xxl-size;
}
